{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block meta %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock meta %}
    
    <script src="https://cdn.tailwindcss.com"></script>
    
    <link rel="stylesheet" href="{% static 'css/global.css' %}"/>

    <title>{% block title %}Switchtify{% endblock %}</title>
</head>
<body class="font-sans">
    <header class="bg-gray-900 text-white p-4 flex justify-between items-center">
        <div class="text-2xl font-bold">SWITCHTIFY</div>
        <nav>
            <a href="#" class="text-white no-underline px-4">Catergory</a>
            <a href="#" class="text-white no-underline px-4">Browse</a>
            <a href="#" class="text-white no-underline px-4">Cart</a>
            <a href="#" class="text-white no-underline px-4">Contact</a>
        </nav>
    </header>

    <main class="p-5">
        {% block content %}
        {% endblock content %}
    </main>

    <footer class="bg-gray-900 text-white text-center p-4">
        Created by Khairul Bintang - PBP F
    </footer>
</body>
</html>
